@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thème Clair */
:root {
  --color-primary: #d7ccc8; /* Timberwolf */
  --color-secondary: #cfd8dc; /* Platinum */
  --color-accent: #88a097; /* Cambridge Blue */
  --color-text: #5d4037; /* Liver */
  --color-background: #fafafa; /* Seasalt */
}

/* Thème Foncé */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #6e1c3d; /* Tyrian Purple */
    --color-secondary: #795548; /* Coffee */
    --color-accent: #bcaaa4; /* Silver */
    --color-text: #fffff0; /* Ivory */
    --color-background: #263238; /* Gunmetal */
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

a, .accent {
  color: var(--color-accent);
}

/* Utiliser la couleur primaire et secondaire dans d'autres éléments au besoin */
.primary-bg {
  background-color: var(--color-primary);
}

.secondary-bg {
  background-color: var(--color-secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
